# Ignore everything
*

# Except skills directory
!skills/
!skills/**

!agents/
!agents/**

!hooks/
!hooks/**
hooks/__pycache__/

!plugins/
plugins/*
!plugins/csharp-docs/
!plugins/csharp-docs/**

# And these files
!.gitignore
!README.md
skills/dotnet-csharp.zip
!CLAUDE.md
