# Ignore everything
*

# Except skills directory
!skills/
!skills/**

!agents/
!agents/**

!hooks/
!hooks/**
hooks/__pycache__/

# And these files
!.gitignore
!README.md
skills/dotnet-csharp.zip
!CLAUDE.md
